li
  a(href='/') Home
  input#5368(type='radio' name='group-0')
  label(for='5368') ▼
  div
    input#close-0(type='radio' name='group-0')
    label(for='close-0') ▲
li
  a(href='/first/') FIRST
  input#5370(type='radio' name='group-0')
  label(for='5370') ▼
  div
    input#close-0(type='radio' name='group-0')
    label(for='close-0') ▲
  ul
    li
      a(href='/first/promoting-first/') Promoting FIRST
      input#5371(type='radio' name='group-1')
      label(for='5371') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/first/gracious-professionalism/') Gracious Professionalism
      input#5372(type='radio' name='group-1')
      label(for='5372') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/first/frc-first-robotics-competition/') FRC- FIRST Robotics Competition
      input#5373(type='radio' name='group-1')
      label(for='5373') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/first/ftc-first-tech-challenge/') FTC- FIRST Tech Challenge
      input#5374(type='radio' name='group-1')
      label(for='5374') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/first/fll-first-lego-league/') FLL – FIRST LEGO League
      input#5375(type='radio' name='group-1')
      label(for='5375') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
li
  a(href='/about/') Our Team
  input#5376(type='radio' name='group-0')
  label(for='5376') ▼
  div
    input#close-0(type='radio' name='group-0')
    label(for='close-0') ▲
  ul
    li
      a(href='/about/c-o-r-e-values/') C.O.R.E. V.A.L.U.E.S.
      input#5377(type='radio' name='group-1')
      label(for='5377') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/about/subteams-1/') Subteams
      input#5378(type='radio' name='group-1')
      label(for='5378') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/about/mentors/') Mentors
      input#5379(type='radio' name='group-1')
      label(for='5379') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/about/community/') Community
      input#5380(type='radio' name='group-1')
      label(for='5380') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/about/awards/') Awards
      input#5381(type='radio' name='group-1')
      label(for='5381') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/about/outreach/') Outreach
      input#5382(type='radio' name='group-1')
      label(for='5382') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
li
  a(href='/events/') Events
  input#5383(type='radio' name='group-0')
  label(for='5383') ▼
  div
    input#close-0(type='radio' name='group-0')
    label(for='close-0') ▲
  ul
    li
      a(href='/events/calendar/') Calendar
      input#5384(type='radio' name='group-1')
      label(for='5384') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/events/2012-2013/') 2012-2013
      input#5385(type='radio' name='group-1')
      label(for='5385') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/events/2011-2012/') 2011-2012
      input#5386(type='radio' name='group-1')
      label(for='5386') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/events/2010-2011-events/') 2010-2011
      input#5387(type='radio' name='group-1')
      label(for='5387') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/events/2009-2010-build-season/') 2009-2010
      input#5388(type='radio' name='group-1')
      label(for='5388') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/events/2008-2009-build-season/') 2008-2009
      input#5389(type='radio' name='group-1')
      label(for='5389') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/events/2007-2008-build-season/') 2007-2008
      input#5390(type='radio' name='group-1')
      label(for='5390') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/events/2006-2007-build-season/') 2006-2007
      input#5391(type='radio' name='group-1')
      label(for='5391') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
li
  a(href='/?page_id=1833') Competitions
  input#5392(type='radio' name='group-0')
  label(for='5392') ▼
  div
    input#close-0(type='radio' name='group-0')
    label(for='close-0') ▲
  ul
    li
      a(href='/competitions/2013-ultimate-ascent/') 2013 Ultimate Ascent
      input#5393(type='radio' name='group-1')
      label(for='5393') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/competitions/2012-rebound-rumble/') 2012 Rebound Rumble
      input#5394(type='radio' name='group-1')
      label(for='5394') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/competitions/2011-logo-motion-archive/') 2011 Logo Motion
      input#5395(type='radio' name='group-1')
      label(for='5395') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/competitions/2010-breakaway/') 2010 Breakaway
      input#5396(type='radio' name='group-1')
      label(for='5396') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/competitions/2009-lunacy/') 2009 Lunacy
      input#5397(type='radio' name='group-1')
      label(for='5397') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/competitions/2008-first-overdrive/') 2008 FIRST Overdrive
      input#5398(type='radio' name='group-1')
      label(for='5398') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/competitions/rckndrll/') 2007 Rack ‘n Roll
      input#5399(type='radio' name='group-1')
      label(for='5399') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
li
  a(href='/waukesha-vex-league/') VEX
  input#5400(type='radio' name='group-0')
  label(for='5400') ▼
  div
    input#close-0(type='radio' name='group-0')
    label(for='close-0') ▲
  ul
    li
      a(href='/waukesha-vex-league/waukesha-vex-league-2/') Waukesha VEX League
      input#5401(type='radio' name='group-1')
      label(for='5401') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/waukesha-vex-league/vex-2012/') VEX Tournament 2012
      input#5402(type='radio' name='group-1')
      label(for='5402') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/waukesha-vex-league/vex-tournament-2011/') VEX Tournament 2011
      input#5403(type='radio' name='group-1')
      label(for='5403') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/waukesha-vex-league/2009-vex-tournament/') VEX Tournament 2010
      input#5423(type='radio' name='group-1')
      label(for='5423') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
li
  a(href='/safety/') Safety
  input#5404(type='radio' name='group-0')
  label(for='5404') ▼
  div
    input#close-0(type='radio' name='group-0')
    label(for='close-0') ▲
  ul
    li
      a(href='/safety/safety-manual/') Safety Manuals
      input#5405(type='radio' name='group-1')
      label(for='5405') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/safety/msds/') Material Safety Data Sheet
      input#5406(type='radio' name='group-1')
      label(for='5406') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/safety/ppe/') Personal Protective Equipment
      input#5407(type='radio' name='group-1')
      label(for='5407') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/safety/lockout-tagout/') Lock Out Tag Out
      input#5424(type='radio' name='group-1')
      label(for='5424') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/safety/5s-principals/') 5 ‘S’ Principles
      input#5425(type='radio' name='group-1')
      label(for='5425') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/safety/safety-training/') Safety Training
      input#5408(type='radio' name='group-1')
      label(for='5408') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/safety/fire-extinguishers/') Fire Extinguishers
      input#5426(type='radio' name='group-1')
      label(for='5426') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
li
  a(href='/resources/') Resources
  input#5409(type='radio' name='group-0')
  label(for='5409') ▼
  div
    input#close-0(type='radio' name='group-0')
    label(for='close-0') ▲
  ul
    li
      a(href='/resources/alumni/') Alumni
      input#5410(type='radio' name='group-1')
      label(for='5410') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/resources/parents/') Parents
      input#5411(type='radio' name='group-1')
      label(for='5411') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/resources/students/') Students
      input#5412(type='radio' name='group-1')
      label(for='5412') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/resources/archives/') News Archives
      input#5413(type='radio' name='group-1')
      label(for='5413') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/resources/c-o-r-e-tms-registration/') C.O.R.E. TMS Registration
      input#5414(type='radio' name='group-1')
      label(for='5414') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/resources/this-site/') This Site
      input#5422(type='radio' name='group-1')
      label(for='5422') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
li
  a(href='/fundraising/') Funding
  input#5415(type='radio' name='group-0')
  label(for='5415') ▼
  div
    input#close-0(type='radio' name='group-0')
    label(for='close-0') ▲
  ul
    li
      a(href='/fundraising/first-aid-kits/') First Aid Kits
      input#5417(type='radio' name='group-1')
      label(for='5417') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/sponsors/') Sponsors
      input#5419(type='radio' name='group-1')
      label(for='5419') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/sponsors/why-you-should-help/') Why You Should Help
      input#5418(type='radio' name='group-1')
      label(for='5418') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
    li
      a(href='/sponsors/how-you-can-help/') How You Can Help
      input#5420(type='radio' name='group-1')
      label(for='5420') ▼
      div
        input#close-1(type='radio' name='group-1')
        label(for='close-1') ▲
li
  a(href='/contact/') Contact
  input#5421(type='radio' name='group-0')
  label(for='5421') ▼
  div
    input#close-0(type='radio' name='group-0')
    label(for='close-0') ▲
