doctype html
html
  head
    title= title
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width')
    meta(name='description' content='.............')
    link(rel='shortcut icon' href='/favicon.ico')
    link(rel='stylesheet' type='text/css' href='/css/main.css')

    <!--[if lt IE 9]>
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->

    // safety db
      link(href='http://fonts.googleapis.com/css?family=Orbitron:400,900' rel='stylesheet' type='text/css')
      link(rel='stylesheet' type='text/css' href='/css/safety.css')
      link(href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css')

    // not safety
    script(type='text/javascript' src='/js/modernizr.custom.js')
    script(type='text/javascript').
      Modernizr.load({
        test: Modernizr.inlinesvg && Modernizr.svg,
        nope: '/js/svg.js'
      });

  body
    #page-wrap
      .header
        a#logo(href='http://core2062.com' title='Click here to go back to the main page.')
            | C.O.R.E.
            br
            | 2062
          form#searchform(method='get' action='http://core2062.com/')
            input#s(type='text' onblur='if (this.value == \'\') {this.value = \'Find info with keywords..\';}' onfocus='if (this.value == \'Find info with keywords..\') {this.value = \'\';}' value='' name='s' alt='Search Form')
            input#searchsubmit(type='submit' alt='Search Submit' value='')
          .header-show
            //ul#sb-slider.sb-slider
              ul
                li
                  img(src='/wp-content/uploads/2013/03/slide_6.jpg')
                li
                  img(src='/wp-content/uploads/2013/03/slide_5.jpg')
                li
                  img(src='/wp-content/uploads/2013/03/slide_3.jpg')
                li
                  img(src='/wp-content/uploads/2013/03/slide_2.jpg')
                li
                  img(src='/wp-content/uploads/2013/03/slide_1.jpg')

        nav
          input#nav-wrapper(type="checkbox" checked)
          label(for='nav-wrapper')
            ul.menu
              //include _menu.jade

          select

      #page
        .banner-bar
          a.banner-title(href='/' title='Click here to return home') Community Of Robotics Engineers - FIRST Robotics Team 2062 - Waukesha, Wisconsin
          a.learnmore(href='/about' title='Click here to learn more!') Learn More!

        != content

        img.badge(src='/img/FRC-ExcelAward11.jpg' alt='Website Excellence Award')

        footer
          :markdown
            C.O.R.E. 2062 is proudly part of [FIRST Robotics](http://usfirst.org/).
            This work is licensed under a [Creative Commons Attribution 3.0 Unported License](http://creativecommons.org/licenses/by/3.0/') 
            [Entries (RSS)](http://core2062.com/feed/)

  script(src="main.js")
  script.
    window.prerenderReady = false;
    require('core2062.com');
