doctype html
html
  head
    title
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width')
    meta(name='description' content='.............')
    link(rel='shortcut icon' href='/favicon.ico')
    link(rel='stylesheet' type='text/css' href='/css/main.css')

    <!--[if lt IE 9]>
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->

    // safety db
      link(href='http://fonts.googleapis.com/css?family=Orbitron:400,900' rel='stylesheet' type='text/css')
      link(rel='stylesheet' type='text/css' href='/css/safety.css')
      link(href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css')

    // not safety
    script(type='text/javascript' src='/js/modernizr.custom.js')
    script(type='text/javascript').
      Modernizr.load({
        test: Modernizr.inlinesvg && Modernizr.svg,
        nope: '/js/svg.js'
      });

  body
    #page-wrap
      include _menu.jade

      #page
        .banner-bar
          a.banner-title(href='/' title='Click here to return home') Community Of Robotics Engineers - FIRST Robotics Team 2062 - Waukesha, Wisconsin
          a.learnmore(href='/about' title='Click here to learn more!') Learn More!

        != content

        img.badge(src='/img/FRC-ExcelAward11.jpg', alt='Website Excellence Award')
        .clear
        p.footer
          :markdown
            C.O.R.E. 2062 is proudly part of [FIRST Robotics](http://usfirst.org/).
            This work is licensed under a [Creative Commons Attribution 3.0 Unported License](http://creativecommons.org/licenses/by/3.0/') 
            [Entries (RSS)](http://core2062.com/feed/)

        // footer

  script(src="main.js")
  script.
    window.prerenderReady = false;
    require('core2062.com');
