@import url('http://fonts.googleapis.com/css?family=Orbitron:700');

//Resources

right_arrow_img = url('../img/menu-right-arrow.png')
arrow_img = url('../img/menu-arrow.png')
caution_img = url('../img/caution.png')
message_img = url('../img/message.png')
error_img = url('../img/error.png')
success_img = url('../img/success.png')
search_img =  url('../img/search.png')
core_logo_img = url('../img/CORE-logo.svg')

//Colors
orange = #ff731c
black = #1f1f1f
darkened_orange = #552100
brown = #73523b

//Dimensions

// 1/2 of space between the boxes that hold articles / other content
box_margin = 5px

// space between text and floated images
img_margin = 10px

// height of logo at top of page above slice_box (logo_height > searchform_height + box_margin*4)
logo_height = 100px

searchform_height = 30px
slice_box_height = 275px
header_pic_height = 150px
max_width = 1000px

//sorry, but any smaller is crazy
min_width = 250px
